<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

<body>
<h1> Newsheets </h1>
Please log in or sign up

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
var app = angular.module("login_page",[]);
app.controller("choose_login_or_signup", function($scope, $http) {
  $scope.login_labels = [
    {description: "username or email", var_name: "username"},
    {description: "password", var_name: "password"}
  ];
  $scope.signup_labels = [
    {description: "username", var_name: "username"},
    {description: "email", var_name: "email"},
    {description: "password", var_name: "password"}
  ];

  $scope.form_description = "Please log in";
  $scope.option = "submit_form/login";
  $scope.server_response =  "";
  $scope.label_option = $scope.login_labels;

  $scope.choose_signup = function() {
    $scope.form_description = "Please sign up";
    $scope.option = "submit_form/signup";
    $scope.label_option = $scope.signup_labels;
  };

  $scope.choose_login = function() {
    $scope.form_description = "Please log in";
    $scope.option = "submit_form/login";
    $scope.label_option = $scope.login_labels;
  };

  $scope.request_proceed = function() {

    //AJAX request
    var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "/", true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

      //serializing form data
      var data = $('form').serialize();

      // actual posting of request:
      // request url (handled by Express on the other side)
      // callback function handling the response object.
      var requesturl = "/" + $scope.option;
      $.post(requesturl,
      data,
      //data is the returned response from the server
      function(data, status){
        if (data[0] == "<") {
          $("body").html(data);
        } else {
          $("#returnMessage").html(data);
        }
      });

  };




});



</script>


<!--<div ng-app="login_page" ng-controller="server_response">
  {{server_response}}
</div>
-->

<div ng-app="login_page" ng-controller="choose_login_or_signup">

  <button ng-click="choose_login()">Login</button>
  <button ng-click="choose_signup()">Signup</button>

  <form id="login_form" action={{option}} method="POST">
    <fieldset>
      {{form_description}}
      <br>
      <div id="returnMessage"></div>
      <br>
      <div ng-repeat="x in label_option">
        <label>{{x.description}} : </label>
        <input type="text" name={{x.var_name}}>
      </div>
      <!--
      <br>
      <label>Password: </label>
      <input type="text" name="password">
      -->

      <!--<input type="submit" value="Submit">-->

    </fieldset>
  </form>
  <button ng-click="request_proceed()">Submit</button>
</div>

</body>
</html>
